<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Attention! Attention!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">die Wahrscheinlichkeit eines generellen Tempolimits auf der Autobahn wächst! Sie können dazu Ihre Meinung kundtun!
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Statistics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Es gelten schon jetzt auf zirka 40 Prozent der rund 12.800 Autobahnkilometer dauerhafte oder temporäre Geschwindigkeitsbegrenzungen.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Security above all!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mit dieser Regelung gehörten die deutschen Autobahnen "zu den sichersten Straßen der Welt".
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Buy a Sticker!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ab jetzt wird es den ‘I love autobahn-Aufkleber’ zu kaufen geben !</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
